In [1]:
import pandas as pd
import numpy as np

categorias_servicio = ['Muy insatisfecho', 'Insatisfecho', 
                       'Neutral', 'Satisfecho', 'Muy satisfecho']

categoria_calidad = ['Mala', 'Buena', 'Muy buena', 'Excelente']

encuesta = {'servicio': ['Muy insatisfecho', 'Insatisfecho', 
                       'Neutral', 'Satisfecho', 'Muy satisfecho', 'Muy insatisfecho'],

            'alimentos' : ['Mala', 'Buena', 'Muy buena', 'Excelente', 'Mala', 'Buena']}

# 0: cliente esporadico --- 1: cliente freceunte
tipo_cliente = [0, 0, 1, 1, 0, 1]
pd.DataFrame(encuesta)

           servicio  alimentos
0  Muy insatisfecho       Mala
1      Insatisfecho      Buena
2           Neutral  Muy buena
3        Satisfecho  Excelente
4    Muy satisfecho       Mala
5  Muy insatisfecho      Buena

In [2]:
from sklearn.preprocessing import OrdinalEncoder

datos_ord = pd.DataFrame(encuesta)
codificador = OrdinalEncoder(categories=[categorias_servicio,
                                         categoria_calidad])

datos_ord = pd.DataFrame(codificador.fit_transform(datos_ord),
                         columns=['servicios', 'alimentos'])

datos_ord

   servicios  alimentos
0        0.0        0.0
1        1.0        1.0
2        2.0        2.0
3        3.0        3.0
4        4.0        0.0
5        0.0        1.0

In [9]:
from sklearn.preprocessing import OneHotEncoder

datos_one = pd.DataFrame(encuesta)
codificador = OneHotEncoder()
# print(codificador.fit_transform(datos_one).toarray())
# print(np.concatenate(codificador.categories_))
datos_one = pd.DataFrame(codificador.fit_transform(datos_one).toarray(), 
                         columns= np.concatenate(codificador.categories_))
datos_one

,Insatisfecho,Muy insatisfecho,Muy satisfecho,Neutral,Satisfecho,Buena,Excelente,Mala,Muy buena
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
5,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0